/* =====================================================
		   CSS Style Sheet for MyWebsite
       Ajaykumar Prathap
 ====================================================== */

 /* common stylings */
*{
  margin:0px;
  padding: 0px;
}

header, section, footer, nav, aside, article {
  display: block;
}
html, body{
  height:100%;
}
body{
    width: 100%;
    font-family: Roboto;
    font-weight: 400;
	  font-size: 16px !important;
    background-color: #fff

}

/* Stylings for home page */
@media screen and (min-width: 900px) {
   .mainWrapper{
     height: 100%;
     }}
.mainWrapper{
  width:100%;

  margin-top: 0px;
  color: #fff;
}

.sidebar-wrapper.menu-expand{
  left:0px;
}
.sidebar-wrapper{
  height:100%;
  width:200px;
  position:fixed;
  left: -200px;
  z-index: 10;
}
.sidebar-menu{
position:fixed;
top: 40px;
left: 40px;
cursor: pointer;
z-index: 999;
}
.sidebar{
  width: 23px;
  height: 3px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 3px;
  display: block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;

}
.menu-close{
  margin-top: 40px;
    margin-left: 150px;
    color: #808080;
    position: absolute;
}
.resume-download a:hover,.menu-close:hover{
  color: white;
}
.navigation{
  padding-top: 100px;
  padding-left: 60px;
  background: black;
  height:100%;
}
.navigation a
{
    color: #808080;
    text-decoration: none;
    outline: none;
    outline-offset: 0;
    padding-bottom: 5px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.navigation a:hover{
  text-decoration: none;
  color:white;
}
nav ul li{
  list-style: none;
  margin-bottom: 20px;
}

.home{
  background: url(../img/theme.jpg);
  height:100%;

  background-size:cover;
}
.img-home{
  border-radius: 50%;
  height:200px;
  width:200px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
.img-home:hover
{
  background-position: 17% 13%;
background-size: 137%;
}
.text-home{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 900;
}
.marker_home{
  content: '';
    position: inherit;
    background: #f1f1f1;
    width: 7.5em;
    height: 0.275em;
    left: 0;
    right: 0;
    /* top: 53px; */
    margin: 20px auto;
    bottom: -1.5em;
}
.intro{
  margin-top:60px;
  font-style:italic;
}
.aboutme{
  margin-top: 50px;
  text-align: center;
}
.resume-download{
margin-left: 350px;
margin-top: 100px;
}
.resume-download a{
    color: #d0cdcd;
}

/* =====================================================
		   Skills section Styles
 ====================================================== */

.img-skills{
  width:100%;
}
.section-title{
  text-align: center;
    position: relative;
    z-index: 2;
    font-size: 20px;
    color: white;
    padding-top: 40px;
}
.skills{
  background-image: url(../img/skills.jpg);
  background-size: 100%;
  color: white;
  -webkit-background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
@media screen and (min-width: 900px) {
   .skills{
     height: 100%;
     }}
.interest h4{
  display: inline;
}
.interest p{
  padding-top: 20px;
  text-align: justify;
}
.skill-bar ul{
  list-style: none;
  padding:0;
}
.skill-bar{
      margin-top: 30px;
}
.skill-bar ul li{
  height: 35px;
line-height: 35px;
width: 100%;
background: #a69d9d;
position: relative;
margin-bottom: 15px;
}
.bar{
  padding-left: 15px;
    height: 100%;
    transition: all .5s ease-in-out;
}
.skill-bar ul li h5{
  margin: 0;
    color: #FFF;
    line-height: 35px;
    position: absolute;
    font-weight: 700;
}
.tools{
  margin-top: 20px;
}

.tools ul li{
  display: inline;
  padding-left: 15px;
}


/* =====================================================
		   Education and Experience section Styles
 ====================================================== */


.experience{
  background-color :#2f3238;
  background-image: url(../img/exp2.jpg);
  -webkit-background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  }
.experience-content{
  min-height: 180px;
    color:#444444;
    background: #d3d3d3;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
}
.experience-content:hover{
  background:white;
}
.subheading{
  margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
}
.exp-text p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    line-height: 22px;

}
.exp-date{
  font-size: 17px;
    font-weight: 400;
    letter-spacing: 1;
    text-transform: uppercase;
    padding: 18px;
}
.exp-marker{
  background-color: #a69d9d;
/* width: 250px; */
height: 60px;
color: #fff;
border-radius: 5px;
text-align: center;
margin-top: 55px;
position: relative;
}
.exp-text{
  text-align: right;
}
.first{
  margin-top: 20px;
}
.exp-heading{
text-align: center;
}
.marker{
  content: '';
    position:inherit ;
    background: #4d4d4d;
    width: 4.5em;
    height: 0.375em;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -1.5em;
}
.arrow{
  border-style: solid;
    border-width: 9px;
    width: 0;
    height: 0;
    /* float: left; */
    left: -18px;
    top: 20px;
    position: absolute;
    border-color: transparent #a69d9d transparent transparent;
}
.arrow-right{
  border-style: solid;
    border-width: 9px;
    width: 0;
    height: 0;
    /* float: left; */
    right: -18px;
    top: 20px;
    position: absolute;
    border-color: transparent transparent transparent  #a69d9d  ;

}
/* =====================================================
		   contact section Styles
 ====================================================== */
 .img-section{
   height:75%;
 }
.img-contact{
  background-image: url(../img/contact.jpg);
  vertical-align: middle;
background-size: 100%;
height:400px;
margin-bottom: -80px;
-webkit-background-size: cover !important;
background-repeat: no-repeat !important;
background-position: center center !important;
}

.contact{
background-color: #292c2f;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;

text-align: left;
font: bold 16px sans-serif;
padding: 55px 50px;
margin-top: 80px;

}
.contact .left-footer{
width: 40%;
display: inline-block;
vertical-align: top;
}
.contact .center-footer{
	    width: 35%;
			display: inline-block;
    vertical-align: top;
}
.contact .right-footer{
	    width: 20%;
			display: inline-block;
    vertical-align: top;
}
.contact copyright{
	color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0
}
.contact .center-footer i{
	background-color: #33383b;
color: #ffffff;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}
.contact .center-footer p{
	display: inline-block;
color: #ffffff;
vertical-align: middle;
margin: 0;
}
.contact .social-icons a{
	display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
.contact h3{
	color: #ffffff;
font: normal 36px 'Cookie', cursive;
margin: 0;
}

.contact .copyright{
	color: #8f9296;
font-size: 14px;
padding-top: 50px;
font-weight: normal;
margin: 0;
}
